[project]
	description = spring-boot demo
[access "refs/*"]
	owner = group user/dhamibirendra (dhamibirendra)
[access "refs/for/refs/*"]
	read = group user/dhamibirendra (dhamibirendra)
	push = group user/dhamibirendra (dhamibirendra)
	label-Code-Review = -2..+2 group user/dhamibirendra (dhamibirendra)
	label-Verified = -1..+1 group user/dhamibirendra (dhamibirendra)
	rebase = group user/dhamibirendra (dhamibirendra)
	removeReviewer = group user/dhamibirendra (dhamibirendra)
	submit = group user/dhamibirendra (dhamibirendra)
[access "refs/heads/*"]
	read = group user/dhamibirendra (dhamibirendra)
	create = group user/dhamibirendra (dhamibirendra)
	push = +force group user/dhamibirendra (dhamibirendra)
	pushMerge = group user/dhamibirendra (dhamibirendra)
[access "refs/tags/*"]
	push = +force group user/dhamibirendra (dhamibirendra)
	pushTag = group user/dhamibirendra (dhamibirendra)
	pushSignedTag = group user/dhamibirendra (dhamibirendra)
